mixin news 
  .news.layout(id='news')
    .layout_section
      h2.h2.h2__big-invert LATEST NEWS
      .layout_section
        //- button.news_arrow.news_arrow__prev._prewArrow
        //-   i.fa.fa-chevron-left
        .slider_news
          each item in news
            .news_slider
              img.news_img(src=item.img, alt='')
              .news_content
                .news_header
                  h4.h4=item.title
                .news_text=item.text
                .news_auth
                  img.news_img.news_img__auth(src=item.icon, alt='')
                  .news_auth-text
                    .news_name=item.auth
                    .news_date=item.date
        //- button.news_arrow.news_arrow__next._nextArrow
        //-   i.fa.fa-chevron-right

